
body{
  text-align: center;
  font-family: Helvetica;
}

p{
  font-size: 14px;
}

.img{
  background-image: url("../Resources/Images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navlist{
  padding-left: 0;
}

.navlist a{
  font-size: 18px;
  color: white;
}

div h3, div .img, #header, #process{
  font-weight: bold;
  font-size: 23px;
}

div .img, #header, #footer, #footer nav a{
  color: white;
}

#header h1{
  font-size: 70px;
}

#header nav ul li {
  font-size 18px;
  list-style-type: none;
  padding: 5px;
}

#process{
  font-size: 32px;
}

#footer{
  background-color: dimgray;
  text-align: left;
}

#footer p{
  display: inline-block;
}

#footer nav{
  display: inline
}
